<template>
    <div class="addblog">
        <!-- <h1>Add Blog Page - 添加博客</h1> -->
        <el-alert
            title="成功提示的文案"
            type="success"
            center
            show-icon
            v-if="!disShow"
        >
        </el-alert>
        <form v-if="disShow">
            <label>博客标题 - ブログタイトル - 블 로그 표제</label>
            <el-input placeholder="请输入内容" v-model="blogData.title"></el-input>

            <label>博客内容 - ブロガーの内容 - 블 로그 내용</label>
            <el-input type="textarea" rows="3" v-model="blogData.content"></el-input>

            <label>开发技术栈 - 技術のスタック- 창고를 개발하다</label>
            <div>
                <el-checkbox 
                    v-for="(item,index) in skillInit"
                    :label="item"
                    border
                    :key="index"
                    v-model="blogData.skill"
                >
                </el-checkbox>
            </div>

            <label>开发技术栈2 - 技術のスタック- 창고를 개발하다</label>
            <div>
                <el-checkbox 
                    v-for="(item,index) in skillStates"
                    :label="item.name"
                    border
                    :key="index"
                    :checked="item.isShow"
                    v-model="blogData.skillState"
                >
                </el-checkbox>
            </div>

            <label>开发作者 - 作者を開発する - 저자를 개발하다</label>
            <el-select placeholder="開発者を選んでください" v-model="blogData.author">
                <el-option
                    v-for="(item,index) in authorData"
                    :value="item"
                    :key="index"
                >
                {{ item }}
                </el-option>
            </el-select>

            <el-button type="primary" @click.prevent="handleClickSubmit">确定发布 - 発表を定める</el-button>
        </form>
        <hr>
        <div class="m-form-content">
            <label>博客标题 - ブログタイトル - 블 로그 표제</label>
            <h1>{{ blogData.title }}</h1>

            <label>博客内容 - ブロガーの内容 - 블 로그 내용</label>
            <p>
                {{ blogData.content }}
            </p>

            <label>开发技术栈 - 技術のスタック- 창고를 개발하다</label>
            <ul>
                <li
                    v-for="(item,index) in blogData.skill"
                    :key="index"
                >
                    {{ item }}
                </li>
            </ul>

            <label>开发作者 - 作者を開発する - 저자를 개발하다</label>
            <h1>{{ blogData.author }}</h1>


            <label>开发作者2 - 作者を開発する - 저자를 개발하다</label>
            <ul>
                <li
                    v-for="(item,index) in blogData.skillState"
                    :key="index"
                >
                    {{ item }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AddBlog',
    data () {
        return {
            // 
            blogData: {
                title:'',
                content:'',
                skill:[],
                author:'',
                skillState:[]
            },
            skillInit: ["Vue","Recat","Node","PWA"],
            authorData:["Apple","Microsoft","Amazon"],
            skillStates: [
                {
                    name: "Bootstrap",
                    isShow: false
                },
                {
                    name: "UIKit",
                    isShow: true
                },
                {
                    name: "Element-UI",
                    isShow: false
                },
                {
                    name: "iVeiw",
                    isShow: true
                }
            ],
            disShow:true
        }
    },
    methods: {
        handleClickSubmit () {
            this.$axios.post(this.$global.globalUrl,this.blogData)
                .then((res)=>{
                    console.log(res),
                    this.disShow = !this.disShow
                    setTimeout(()=>{
                        this.$router.push('/')
                    },2000)
                })
            // console.log(this.blogData.author)
        }
    }
}
</script>

<style scoped>
    .addblog {
        width: 100%;
        margin-top: 3rem;
    }

    .addblog > h1 {
        font-size:1.25rem;
        font-weight: normal;
        color:cornflowerblue;
    }

    .addblog > form {
        width: 50%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .addblog > form > label {
        display: block;
        text-align: left;
        font-size:.75rem;
        margin-top: 2rem;
        margin-bottom: .2rem;
        text-indent: .5rem;
        font-weight: bold;
        color:#909399;
    }
    .addblog > form > div {
        display: flex;
    }

    .addblog > form > div > label {
        background-color: #fff;
    }

    .addblog > form > button {
        margin-top: 3rem;
    }

    /*  */

    .m-form-content {
        width:50%;
        margin: 0 auto;
        padding: .5rem;
    }

    .m-form-content > label {
        display: block;
        text-align: left;
        margin-top: 2rem;
    }

    .m-form-content > h1 {
        text-align: left;
    }

    .m-form-content > p {
        text-align: left;
    }

    .m-form-content > ul {
        display: flex;
        justify-content: flex-start;
    }

    .m-form-content > ul > li {
        /* text-align: left; */
        list-style-type: circle;
        margin-left: 1.5rem;
        margin-right: .5rem;
    }
</style>