<template>
    <div class="detail-blog">
        Detail Blog Page
        <div class="m-main">
            <h1>{{ showData.title }}</h1>
            <p>{{ showData.content }}</p>
            <ul class="m-tips-1">
                <li
                    v-for="(item,index) in showData.skill"
                    :key="index"
                >
                    {{ item }}
                </li>
            </ul>

            <ul class="m-tips-1">
                <li
                    v-for="(item,index) in showData.skillState"
                    :key="index"
                >
                    {{ item }}
                </li>
            </ul>

            <span>作者:{{ showData.author }}</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'DetailBlog',
    data () {
        return {
            showData:{}
        }
    },
    created () {
        this.getData()
    },
    methods:{
        getData () {
            // console.log(this.$global.globalUrlHttp + this.$route.params.id + '.json')
            this.$axios.get(this.$global.globalUrlHttp + this.$route.params.id + '.json')
                .then((res)=>{
                    console.log(res)
                    this.showData = res.data
                })
        }
    }
}
</script>

<style scoped>
    .m-main {
        width: 50%;
        margin: 1rem auto 0 auto;
        background-color: #fff;
        padding: 1rem 0;
    }

    .m-main > h1 {
        font-size:1.5rem;
    }

    .m-main > p {
        padding: 1rem;
        text-align: left;
        text-indent: 2rem;
        line-height: 2rem;
        color:#909399;
    }

    .m-main > span {
        display: block;
        text-align: left;
        padding: .5rem 1rem;
    }

    .m-tips-1 {
        display: flex;
        justify-content: flex-start;
        padding: .5rem 1rem;
    }

    .m-tips-1 > li {
        list-style-type: disc;
        margin: 0 1rem;
    }
</style>
