<template>
    <div class="editblog">
        Edit Blog Page

        <form v-if="formShow">
            <label>博客标题 - ブログタイトル - 블 로그 표제</label>
            <el-input placeholder="请输入内容" v-model="upData.title"></el-input>

            <label>博客内容 - ブロガーの内容 - 블 로그 내용</label>
            <el-input type="textarea" rows="5" v-model="upData.content"></el-input>

            <label>开发技术栈 - 技術のスタック- 창고를 개발하다</label>
            <div>
                <el-checkbox 
                    v-for="(item,index) in skillInit"
                    :label="item"
                    border
                    :key="index"
                    v-model="upData.skill"
                >
                </el-checkbox>
            </div>

            <label>开发技术栈2 - 技術のスタック- 창고를 개발하다</label>
            <div>
                <el-checkbox 
                    v-for="(item,index) in skillStates"
                    :label="item"
                    border
                    :key="index"
                    v-model="upData.skillState"
                >
                </el-checkbox>
            </div>

            <label>开发作者 - 作者を開発する - 저자를 개발하다</label>
            <el-select placeholder="開発者を選んでください" v-model="upData.author">
                <el-option
                    v-for="(item,index) in authorData"
                    :value="item"
                    :key="index"
                >
                {{ item }}
                </el-option>
            </el-select>


            <el-button type="primary" @click.prevent="handleClickSubmitPatch">确定修改 - 修正を確認する</el-button>
        </form>


    </div>
</template>

<script>
export default {
    name: 'EditBlog',
    data () {
        return {
            upData:{},
            authorData:["Apple","Microsoft","Amazon"],
            skillStates:["Bootstrap","UIKit","Element-UI","iVeiw"],
            skillInit: ["Vue","Recat","Node","PWA"],
            formShow:true
        }
    },
    created () {
        this.getData()
    },
    methods: {
        getData () {
            // console.log(this.$global.globalUrlHttp + this.$route.params.id)
            this.$axios.get(this.$global.globalUrlHttp + this.$route.params.id + '.json')
                .then((res)=>{
                    console.log(res)
                    this.upData = res.data
                })
        },
        handleClickSubmitPatch () {
            this.$axios.patch(this.$global.globalUrlHttp + this.$route.params.id + '.json',this.upData)
                .then((res)=>{
                    console.log(res)
                    this.formShow = false
                    this.open2()
                    setTimeout(()=>{
                        this.$router.push('/')
                    },3000)
                })
        },
        open2() {
            this.$message({
                message: '恭喜你，修改微博成功',
                type: 'success'
            });
        },
    }
}
</script>

<style scoped>
    .editblog > form {
        width: 50%;
        margin: 2rem auto 0 auto;
    }

    .editblog > form > label {
        display: block;
        text-align: left;
        margin-top: 2rem;
    }

    .editblog > form > div {
        display: flex;
    }

    .editblog > form > div > label {
        background-color: #fff;
    }

    .editblog > form > button {
        margin-top: 3rem;
    }
</style>