<template>
    <div class="listblog">
        List Blog Page
        <el-input v-model="searhword" placeholder="自定义搜索" class="f-search"></el-input>
        <h1 v-if="!jzShow">数据加载中...</h1>
        <ul v-if="jzShow">
            <li
                v-for="(item,index) in filterSearch"
                :key="index"
            >
                <h1>{{ item.title }}</h1>
                <span>第 {{ index + 1 }} 次マイクロブログ</span>
                <p>{{ item.content | filterText }}</p>
                <router-link :to="'./DetailBlog/' + item.id" tag="el-button" class="el-button--primary el-button--mini">マイクロブログの詳細</router-link>
                <router-link :to="'./EditBlog/' + item.id" tag="el-button" class="el-button--warning el-button--mini">修改</router-link>
                <!-- <router-link :to="'./DetailBlog/' + item.id">微博を改める</router-link> -->
                <el-button @click="delData(index,item.id)" type="danger" size="mini">微博を削除する</el-button>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'ListBlog',
    data () {
        return {
            listData:[],
            jzShow:false,
            searhword:''
        }
    },
    created () {
        this.getData()
    },
    computed:{
        filterSearch () {
            return this.listData.filter((rel)=>{
                return rel.title.match(this.searhword)
            })
        }
    },
    methods:{
        getData () {
            this.$axios.get(this.$global.globalUrl)
                .then((res)=>{
                    // console.log(res.data);
                    for(let key in res.data){
                        res.data[key].id = key,
                        this.listData.unshift(res.data[key])
                    }
                    this.jzShow = true
                    // console.log(this.listData)
                })
        },
        delData (idx,delId) {
            this.$axios.delete(this.$global.globalUrlHttp + delId + '.json')
                .then((res)=>{
                    console.log(res)
                    // this.listData = []
                    // this.getData()
                    this.listData.splice(idx,1)
                    this.open2()
                })
        },
        open2() {
            this.$message({
                message: '删除成功！',
                type: 'success'
            });
        },
        // updateDom (sy,id) {
        //     this.delData(sy,id)
        //     console.log(this.listData)
        //     this.$nextTick(function() {
        //         console.log(this.listData)
        //     })
        // }
    }
}
</script>

<style scoped>
    .listblog{}

    .listblog ul{
        width: 50%;
        margin: 0 auto;
    }

    .listblog > ul > li{
        border:1px solid #f6f6f6;
        background-color: #fff;
        padding: 1rem;
        text-align: left;
        margin: 1rem 0;
        border-radius: 5px;
        overflow: hidden;
    }

    .listblog > ul > li > h1 {
        font-size:1.5rem;
        color:#67C23A;
    }

    .listblog > ul > li > span {
        color:#909399;
        font-size:.75rem;
    }

    .listblog > ul > li > p {
        font-size:.85rem;
        padding: 1rem 0;
        color:#C0C4CC;
    }

    .listblog > ul > li > a {
        float: right;
        color:#409EFF;
        margin-left:1rem;
    }

    .listblog > h1 {
        margin-top: 2rem;
        font-size:2rem;
    }

    .f-search {
        display: block;
        width: 50%;
        margin: 2rem auto 0 auto;
    }
</style>
