<template>
    <div class="navbanner">
        <router-link :to="{name:'ListBlog'}">首  页</router-link>
        <router-link :to="{name:'AddBlog'}">添加博客</router-link>
    </div>
</template>

<script>
export default {
    name: 'NavBanner'
}
</script>

<style scoped>
    .navbanner {
        width: 30%;
        margin: 0 auto;
        /* background-color: aquamarine; */
        height: 3rem;
        line-height: 3rem;
        display: flex;
        justify-content: space-around;
    }

    .navbanner > a {
        font-size:1.2rem;
        transition: all .3s ease-in;
    }

    .navbanner > a:hover{
        text-decoration-line:none;
        color:#f60;
        transition: all .5s ease-in-out;
        position: relative;
    }

    .navbanner > a::after{
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        width: 0;
        height: 3px;
        transform: translateX(-50%);
        background-color: #f60;
        /* transition: all 1s ease-out; */
    }

    .navbanner > a:hover::after {
        width: 70%;
        transition: all .5s ease-out;
    }
</style>