<template>
  <div id="app">
      <h1>{{ titleMsg }}</h1>     
      
      <nav-banner></nav-banner>
      <router-view></router-view>
  </div>
</template>

<script>
import NavBanner from './components/nav.vue'
export default {
  name: 'App',
  data () {
    return {
      titleMsg:'Vue - Blog Project'
    }
  },
  components:{
    NavBanner
  }
}
</script>

<style scoped>
  #app {
    width: 1200px;
    height: 200px;
    background-color:#f9f9f9;
    margin: 0 auto;
    text-align: center;
  }

  #app > h1 {
    font-size:3rem;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: normal;
  }
</style>
